<script src="{{ "dist/js/jquery/jquery.min.js" | relative_url }}"></script>
<script src="{{ "dist/js/jquery.scrolly/jquery.scrolly.min.js" | relative_url }}"></script>
<script src="{{ "dist/js/jquery.scrollex/jquery.scrollex.min.js" | relative_url }}"></script>
<script src="{{ "dist/js/skel-framework/skel.min.js" | relative_url }}"></script>
<script src="{{ "dist/js/util.js" | relative_url }}"></script>
<script src="{{ "dist/js/main.js" | relative_url }}"></script>
<!--[if lte IE 8]>
  <script src=""{{ "/dist/js/ie/respond.min.js" | relative_url }}"></script>
<![endif]-->
