<!--[if lte IE 8]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js" integrity="sha256-g6iAfvZp+nDQ2TdTR/VVKJf3bGro4ub5fvWSWVRi2NE=" crossorigin="anonymous"></script>
<![endif]-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel.min.js" integrity="sha256-3e+NvOq+D/yeJy1qrWpYkEUr6SlOCL5mHpc2nZfX74E=" crossorigin="anonymous"></script>
{{ $scrolly := resources.Get "js/vendor/jquery.scrolly.js" }}
{{ $scrollex := resources.Get "js/vendor/jquery.scrollex.js" }}
{{ $util := resources.Get "js/vendor/util.js" }}
{{ $forty := resources.Get "js/vendor/forty.js" }}
{{ $js := slice $scrolly $scrollex $util $forty | resources.Concat "js/bundle.js" | resources.Minify | resources.Fingerprint }}

<script src="{{ $js.Permalink }}"></script>
