---
title: Show Notes
layout: default
---

<section id="banner" class="style2 banner--center banner--logo">
  <div class="inner">
    <h1>{{ page.title }}</h1>
  </div>
</section>

<div id="main">
  <section id="two" class="spotlights">

    {% for post in paginator.posts %}
    <section>
      <div class="content">
        <div class="inner">
          <header class="major">
            <h3><a href="{{ post.url | relative_url }}" class="spotlight-link">{{ post.title | escape }}</a></h3>
          </header>
          <p>{{ post.description }}</p>
        </div>
      </div>
    </section>
    {% endfor %}

    <div class="pagination align-center">
      <span class="pagination__page">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>

      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="pagination__change">Previous Page</a>
      {% endif %}

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="pagination__change">Next Page</a>
      {% endif %}
    </div>

  </section>
</div>
